{% extends "_base.njk" %}

{% block title %}
  Home | Nunjuck Blog
{% endblock %}

{% block header %}
  <header
    class="masthead"
    style="background-image: url('assets/img/home-bg.jpg')"
  >
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <div class="page-heading">
            <h1>Nunjuck Blog</h1>
            <span class="subheading">Enjoy clicking around.</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
  {% for blogTeaser in blogTeaserData | sort(attribute="createdAt", reverse="true") %}
    <!-- Post preview-->
    <div class="post-preview">
      <a href="/posts/{{ blogTeaser.slug }}">
        <h2 class="post-title">{{ blogTeaser.title }}</h2>
      </a>
      <p class="post-meta">
        Posted by
        <a href="#!">{{ blogTeaser.author }}</a>
        on {{ blogTeaser.createdAt | formatDate }}
      </p>
    </div>
    {% if not loop.last %}
      <!-- Divider-->
      <hr class="my-4" />
    {% endif %}
  {% else %}
    <p>no blog data found :/</p>
  {% endfor %}
  <!-- Pager-->
  <div class="d-flex justify-content-end mb-4">
    <a class="btn btn-primary text-uppercase" href="/posts">All Posts →</a>
  </div>
{% endblock %}
