{% extends "_base.njk" %}

{% block title %}
  {{ post.title }}
  | Nunjuck Blog
{% endblock %}

{% block header %}
  <header
    class="masthead"
    style="background-image: url('/assets/pictures/{{ post.image }}')"
  >
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <div class="post-heading">
            <h1>{{ post.title }}</h1>
            <h2 class="subheading">{{ post.teaser }}</h2>
            <span class="meta">
              Posted by
              <a href="#!">{{ post.author }}</a>
              on {{ post.createdAt | formatDate }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
  {{ post.content | safe }}
{% endblock %}
